*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

body,html{
    position: relative;
}

.obj-width{
    max-width: 1200px;
    margin:auto;
}

nav{
    background-color: #bc63d5;
    box-shadow: 0 7px 10px black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}

.navbar .logo{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2.2rem;
    padding-left: 10px;
}

#search-input{
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

#search-button{
    padding: 10px 20px;
    color: #333;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 10px;
}

#blog-container{
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.blog-card{
    width: 280px;
    border: 1px solid #bc63d5 ;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    margin: 10px;
}

.blog-card:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
}

.blog-card img{
    width: 100%;
    height: 280px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.blog-card h2{
    color: #141414;
    font-size: 1.7rem;
    font-weight: 500;
}

.blog-card p{
    padding-top: 0.7rem;
    font-size: 1.2rem;
}

@media (max-width:500px) {

    
    .navbar .logo {
        font-size: 1.8rem;
    }
    
    #search-input {
       width: 150px;
        padding: 10px 10px;
        
    }

    .blog-card {
        width: 100%;
    }


}